<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkout (Inducción)</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script>
    <script type="text/javascript">
        Mercadopago.setPublishableKey("[[${publicKey}]]");
    </script>

    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
        }

        .navbar {
          overflow: hidden;
          background-color: #333;
        }

        .navbar a {
          float: left;
          font-size: 16px;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
        }

        .dropdown {
          float: left;
          overflow: hidden;
        }

        .dropdown .dropbtn {
          font-size: 16px;
          border: none;
          outline: none;
          color: white;
          padding: 14px 16px;
          background-color: inherit;
          font-family: inherit;
          margin: 0;
        }

        .navbar a:hover, .dropdown:hover .dropbtn {
          background-color: red;
        }

        .dropdown-content {
          display: none;
          position: absolute;
          background-color: #f9f9f9;
          min-width: 160px;
          box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
          z-index: 1;
        }

        .dropdown-content a {
          float: none;
          color: black;
          padding: 12px 16px;
          text-decoration: none;
          display: block;
          text-align: left;
        }

        .dropdown-content a:hover {
          background-color: #ddd;
        }

        .dropdown:hover .dropdown-content {
          display: block;
        }
    </style>
</head>
<body>
    <!-- HEADER -->
    <div align="center">
        <h1>niike's site</h1>
    </div>

    <div class="navbar">
        <a href="/">Inicio</a>
        <div class="dropdown">
            <button class="dropbtn">
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="punto1"> 1. Creación de la Preference </a>
                <a href="punto2"> 2. Implementación SDK MercadoPago </a>
                <a href="punto3"><b> 3. Flujo de Pago (v1) </b></a>
                <a href="punto4"> 4. Web Tokenize (v2) </a>
                <a href="punto5"> 5. Web Payment (v2) </a>
            </div>
        </div>
    </div>
    <!-- HEADER -->

    <div>
        <fieldset>
            <div align="center">
                <h4><u>Flujo de Pago (v1)</u></h4>
            </div>
            <div align="left">
                <form id="formProcessPayment" name="formProcessPayment" method="POST" action="/process-payment">
                    <ul>
                        <li>
                            <label for="description">Description: </label>
                            <input value="Algo muy codiciado 2" id="description" name="description" type="text" size="40"/>
                        </li>
                        <li>
                            <label htmlFor="amount">Monto: </label>
                            <input value="500" id="amount" name="amount" placeholder="100" size="10"/>
                        </li>
                        <br />
                        <li>
                            <label for="cardNumber">Nº de Tarjeta: </label>
                            <input size="20" type="text" value="4509953566233704" id="cardNumber" data-checkout="cardNumber" placeholder="4509 9535 6623 3704" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                            <img id="paymentMethodImg" style="vertical-align: middle" src="" />
                            <input type="hidden" id="paymentMethodId" name="payment_method_id" />
                        </li>
                        <li>
                            <label for="cardExpirationMonth">Mes de expiración: </label>
                            <input size="2" type="text" value="12" id="cardExpirationMonth" data-checkout="cardExpirationMonth" placeholder="12" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                            <label for="cardExpirationYear">Año de expiración: </label>
                            <input size="4" type="text" value="2020" id="cardExpirationYear" data-checkout="cardExpirationYear" placeholder="2015" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />

                            <label for="securityCode">Código de Seguridad: </label>
                            <input size="4" type="text" value="143" id="securityCode" data-checkout="securityCode" placeholder="123" onselectstart="return false" onpaste="return false" onCopy="return false" onCut="return false" onDrag="return false" onDrop="return false" autocomplete=off />
                        </li>
                        <li>
                            <label for="issuers">Banco: </label>
                            <select id="issuers" name="issuer_id"></select>
                            <img id="issuerImg" style="vertical-align: middle" src="" />
                        </li>
                        <li>
                            <label for="installments"> Cuotas: </label>
                            <select id="installments" data-checkout="installments" name="installments"></select>
                        </li>
                        <li>
                            <label for="cardholderName">Nombre en la tarjeta: </label>
                            <input size="40" type="text" value="Nico Bertozzi" id="cardholderName" data-checkout="cardholderName" placeholder="APRO" />
                        </li>
                        <br />
                        <li>
                            <label for="docType">Tipo y Nº de documento: </label>
                            <select id="docType" data-checkout="docType" />
                            <label for="docNumber">Número: </label>
                            <input size="10" type="text" value="32978330" id="docNumber" data-checkout="docNumber" placeholder="12345678" />
                        </li>
                        <li>
                            <label for="email">Email: </label>
                            <input value="test_user_19562067@testuser.com" id="email" name="email" type="email" placeholder="algo@otra-cosa.com" size="40"/>
                        </li>
                    </ul>
                    <br />
                    <input type="submit" value="Pagar!"/>
                </form>
            </div>
        </fieldset>
    </div>
</body>
<script>
  // Para obtener los tipos de documentos...
  Mercadopago.getIdentificationTypes();

  var $cardNumber = document.querySelector('#cardNumber');
  var $amount = document.querySelector('#amount');
  var $installments = document.querySelector('#installments');
  var $issuers = document.querySelector('#issuers');

  var $paymentMethodId = document.querySelector('#paymentMethodId');
  var $paymentMethodImg = document.querySelector('#paymentMethodImg');
  var $issuerImg = document.querySelector('#issuerImg');

  // En la documentacion no asignaba en ningun lado el evento...
  $cardNumber.addEventListener('keyup', guessingPaymentMethod);
  // Le agregue el mismo evento en el input del monto para que tambien vaya acomodandose si lo modifica
  $amount.addEventListener('keyup', guessingPaymentMethod);

  function guessingPaymentMethod(event) {
    if(event.type == "keyup") {
      if(($amount.value !== undefined && $amount.value.length >= 0)
            && ($cardNumber.value !== undefined && $cardNumber.value.length >= 6)) {
        console.log("guessing payment method...");

        // var bin = getBin();
        // ya que la linea de arriba no podia reconcoer el "getBin()"", se obtuvo a mano en la de abajo...
        var bin = $cardNumber.value.substring(0, 7).replace(" ", "");

        Mercadopago.getPaymentMethod({
          "bin": bin
        }, paymentMethodHandler);

        Mercadopago.getInstallments({
          "bin": bin,
          "amount": ($amount.value !== undefined ? $amount.value : 0)
        }, installmentsHandler);
      } else {
        // borramos las que haya si no cumple con las 2 condiciones...

        $paymentMethodId.setAttribute('value', '');
        $paymentMethodImg.setAttribute('src', '');

        while($issuers.firstChild) {
          $issuers.removeChild($issuers.firstChild);
        }

        $issuerImg.setAttribute('src', '');

        while($installments.firstChild) {
          $installments.removeChild($installments.firstChild);
        }
      }
    } else {
      setTimeout(function () {
        if (bin.length >= 6) {
          Mercadopago.getPaymentMethod({
            "bin": bin
          }, paymentMethodHandler);
        }
      }, 100);
    }
  };

  function paymentMethodHandler(status, response) {
    if (status == 200) {
      // el componente paymentMethodId ya existia en el form, por eso solamente lo buscamos y le seteamos el ID obtenido...
      var paymentMethod = response[0];
      $paymentMethodId.setAttribute('value', paymentMethod.id);
      $paymentMethodImg.setAttribute('src', paymentMethod.secure_thumbnail);

      Mercadopago.getIssuers(paymentMethod.id, issuerHandler);
    } else {
      document.querySelector("input[name=paymentMethodId]").value = (response[0] !== undefined ? response[0].id : "");
    }
  };

  // Metodo para obtener los Issuer IDs (identificador del banco)
  function issuerHandler(status, response) {
    if(status == 200) {
      // Removemos los hijos que tenga para que no se acumulen...
      while ($issuers.firstChild) {
        $issuers.removeChild($issuers.firstChild);
      }
      // Recorremos el array para armar los options del select de las cuotas...
      for (i = 0; i < response.length; i++) {
        var op = document.createElement('option');
        op.text = response[i].name;
        op.value = response[i].id;

        $issuers.add(op, null);
      }
      //$issuers.value = '310';

      //$issuerImg.setAttribute('src', response[0].secure_thumbnail);
    } else {
      //document.querySelector("input[name=issuerId]").value = (response[0] !== undefined ? response[0].id : "");
    }
  }

  function installmentsHandler(status, response) {
    if (status == 200) {
      // Removemos los hijos que tenga para que no se acumulen...
      while ($installments.firstChild) {
        $installments.removeChild($installments.firstChild);
      }
      // Recorremos el array para armar los options del select de las cuotas...
      for (i = 0; i < response[0].payer_costs.length; i++) {
        var op = document.createElement('option');
        op.text = response[0].payer_costs[i].recommended_message;
        op.value = response[0].payer_costs[i].installments;

        $installments.add(op, null);
      }
    } else {
      // Si hubo algun error, removemos los hijos...
      while ($installments.firstChild) {
        $installments.removeChild($installments.firstChild);
      }
    }
  };

  doSubmit = false;

  var $form = document.querySelector('#formProcessPayment');
  $form.addEventListener('submit', doPay);

  function doPay(event) {
    event.preventDefault();
    if (!doSubmit) {
      var $form = document.querySelector('#formProcessPayment');

      Mercadopago.createToken($form, sdkResponseHandler);

      return false;
    }
  };

  function sdkResponseHandler(status, response) {
    if (status != 200 && status != 201) {
      alert("Verify filled data");
    } else {
      var form = document.querySelector('#formProcessPayment');
      var card = document.createElement('input');

      card.setAttribute('name', 'token');
      card.setAttribute('type', 'hidden');
      card.setAttribute('value', response.id);

      form.appendChild(card);

      doSubmit = true;

      form.submit();
    }
  };
</script>
</html>